/* Styles généraux */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-style: italic;
  }
  
  .title {
    
     margin: 0;
     font-size: 2rem; /* Taille de base du texte */
     font-weight: light; /* Gras pour un titre bien visible */
     color: white; /* Couleur principale */
     text-align: center; /* Centrage du titre */
     transition: transform 0.3s ease-in-out; /* Transition fluide */
     cursor: pointer; /* Ajout d'un curseur "pointer" pour montrer qu'il est interactif */

    }
    
    .title:hover {
      transform: scale(1.1); /* Grossit légèrement le texte au survol */
      color: white; /* Change la couleur du texte pour donner un retour visuel */
    }
    
  
  
  .rightSection {
    display: flex;
    align-items: center;
  }
  
  .welcomeMessage {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .button {
    font-style: italic;
    font-weight: 600;
    margin-left: 10px;
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button.photoFormOpen {
    background-color: grey;
    color: white;
    border: 1px solid grey;
  }
  
  .button.loginOpen,
  .button.registerOpen {
    background-color: grey;
    color: black;
    border: 1px solid grey;
  }
  
  @media (max-width: 425px) {

    .header {
      flex-direction: column;
      justify-content: center;
    }

    .rightSection {
      flex-direction: column;
      align-items: center;
      width: 175px;
      margin-top: 15px;
    }
  
    .welcomeMessage {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .button {
      margin-left: 0;
      margin-bottom: 15px;
      width: 100%;
    }
  }
  /* Media query pour iPhone SE (320px de largeur maximum) */
  @media (max-width: 320px) {
    .header {
      flex-direction: column;
      justify-content: center;
    }
  
    .title {
      margin-bottom: 10px;
    }
  
    .rightSection {
      flex-direction: column;
      align-items: center;
      width: 150px;
    }
  
    .welcomeMessage {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .button {
      margin-left: 0;
      margin-bottom: 10px;
      width: 100%;
    }
  }
  