/* S'assurer que le HTML et le BODY occupent toute la hauteur */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Conteneur principal de l'application */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 50vh; /* Assure que l'application occupe toute la hauteur */
}

/* Section de contenu principale */
.content {
  background-image: url('https://res.cloudinary.com/dw8nqudai/image/upload/v1741614512/textured-background_lkm7jd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1; /* Permet au contenu de s'étendre pour occuper l'espace disponible */
  padding: 20px; /* Ajoute un peu d'espace autour du contenu */
}

/* Footer */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto; /* Force le footer à se positionner en bas */
}


/* Media queries */
 @media (min-width: 1460px) {

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 90vh; /* Assure que l'application occupe toute la hauteur */
  }
    
}



